*  {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Acme', sans-serif;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

h1 {
    color: antiquewhite;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

/* PADS */

.pad-container {
    max-width: 600px;
    margin: auto;
}

.group-1,
.group-2,
.group-3 {
    display: flex;
    margin: 10px;
}

.group-1 div,
.group-2 div,
.group-3 div {
    background-color: blueviolet;
    margin: 10px;
    width: 50%;
    border-radius: 3px;
    height: 100px;
    text-align: center;
    box-shadow: 10px 10px 5px white;
}